/* Index */
#Home{
    background-image: url(/img/Recirsos_pixelart/970544-Cyber-Science-Fiction-Digital-Art-Concept-Art-Cyberpunk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    margin-top: 2rem;
}


.btn-outline{
    background-color: transparent;
}

.btn-outline:hover{
    background: rgb(74,133,181);
    background: -moz-linear-gradient(90deg, rgba(74,133,181,1) 25%, rgba(115,88,88,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(74,133,181,1) 25%, rgba(115,88,88,1) 100%);
    background: linear-gradient(90deg, rgba(74,133,181,1) 25%, rgba(115,88,88,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a85b5",endColorstr="#735858",GradientType=1);
}


.btn_index p{
    background: #2F1661;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7 ;
    border-radius: 5px;
    color: #fff;
}


.card{
    background: #2F1661;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7 ;
    position: sticky;
    top: 0rem;
    color: #fff;
    padding: 2rem 2rem 3rem 2rem;
    
}

/* .carousel-inner{
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
} */

.navbar{
    background-color: black;
}

.text-icon{
    color: #fff;
}

/* Modales */

.Presentacion{
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
} 

.imgen_icono_1 {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

.imgen_icono_2 {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

.imgen_icono_3 {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

.imgen_icono_4 {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

.imgen_icono_5 {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

/* Navegador */

.navegador{
    background-color: #fff;
    margin: 0;
    padding: 0;
}

/* Presentacion_pagina */

#Presentacion_pagina{
    background-color: #000;
    color: #fff;
    text-align: justify;
}

.Paralax{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

.Paralax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
}

.Paralax #slogan{
    position: absolute;
    color: #fff;
    text-align: center;
    line-height: 0.8em;
    white-space: nowrap;
    transform: translateY(-10rem);
    transform: translateX(-10rem);
    margin-left: 10vw;   
}

.Paralax #slogan_2{
    position: absolute;
    color: #fff;
    text-align: center;
    line-height: 0.8em;
    white-space: nowrap;
    transform: translateY(-10rem);
    transform: translateX(-10rem);
    margin-left: 10vw;   
}

.Paralax #slogan_3{
    position: absolute;
    color: #fff;
    text-align: center;
    line-height: 0.8em;
    white-space: nowrap;
    transform: translateY(-10rem);
    transform: translateX(-10rem);
    margin-left: 10vw;   
}


.Paralax .Titulo_paralax {
	-webkit-animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck-bottom 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.Paralax #Montania_2{
    transform: translateY(200px);
}


/* .contenido_preferencias{
    background: rgb(241,159,223);
    background: linear-gradient(180deg, rgba(241,159,223,1) 0%, rgba(255,255,255,1) 100%);
} */

.contenido_preferencias{
    background: rgb(241,159,223);
    background: linear-gradient(180deg, rgba(241,159,223,1) 0%, rgba(47,22,97,1) 100%);
}

.mensaje_presentacion{
    padding: 10rem;
}

.texto_presentacion{
    padding: 5rem;
}

.video_preferencias{
    border-radius: 1.5rem;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7 ;
    margin: 1.5rem;
    padding: 1rem;
}

/* Ilustracion_pagina */

#Ilustracion_pagina{
    background: rgb(241,159,223);
    background: linear-gradient(180deg, rgba(241,159,223,1) 0%, rgba(28,17,50,1) 100%);
}

.navegador_ilustracion{
    position: sticky;
    top: 0;
}

.Titulo_ilustraciones{
    color: #fff;
    margin-top: 10rem;
}

.Seccion_ilustraciones{
    margin: 10rem 5rem 10rem 5rem;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7 ;
}

.Texto_ilustraciones{
    color: #fff;
    margin-bottom: 10rem;
}

.card{
    padding: 1rem;
}

.Cartas_ilustraciones{
    color: #fff;
}

.carta_1{
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}

.carta_2{
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}

.carta_3{
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}

/* Key frames */

/* ----------------------------------------------
 * Generated by Animista on 2023-6-6 17:13:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

  @-webkit-keyframes tracking-in-contract-bck-bottom {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(300px);
              transform: translateZ(400px) translateY(300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck-bottom {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(300px);
              transform: translateZ(400px) translateY(300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }

  @media (max-width: 1080px){
    .Paralax #slogan{
        position: absolute;
        color: #fff;
        text-align: center;
        line-height: 0.8em;
        white-space: nowrap;
        transform: translateY(-7px);
        transform: translateX(-7px);
        margin-left: 10vw;   
    }

    .texto_presentacion{
        padding: 2rem;
    }

    /* ilustraciones */

    .Seccion_ilustraciones{
        margin: 5rem;
        box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7 ;
    }

   }
   @media (max-width: 420px){

    .Paralax #slogan{
        position: absolute;
        color: #fff;
        text-align: center;
        line-height: 0.8em;
        white-space: nowrap;
        transform: translateY(-1rem);
        transform: translateX(-1rem);
        margin: 10vw;   
    }

    .mensaje_presentacion{
        padding: 3rem 3rem 3rem 3rem;
    }

    .texto_presentacion{
        padding: 3rem;
    }

    /* ilustraciones */

    .Seccion_ilustraciones{
        margin: 1.5rem;
        box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7 ;
    }
   }
  
