/* Index */
#Home{
    background-image: url(/img/Recirsos_pixelart/fondo.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    margin-bottom: 12rem;
}


.btn-outline{
    background-color: transparent;
    
}

.btn-outline:hover{
    background: rgb(74,133,181);
    background: -moz-linear-gradient(90deg, rgba(74,133,181,1) 25%, rgba(115,88,88,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(74,133,181,1) 25%, rgba(115,88,88,1) 100%);
    background: linear-gradient(90deg, rgba(74,133,181,1) 25%, rgba(115,88,88,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a85b5",endColorstr="#735858",GradientType=1);
}


/* Modales */

.Presentacion{
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
} 

/* Navegador */

.navegador{
    background-color: #fff;
}

/* Presentacion_pagina */

.Presentacion_pagina{
    background-color: #fff;
}
